.centeredtext
{
  text-align: center;
}
.ulcontent
{
  margin-left: 10px;
  list-style-type: circle;
}
.olcontent
{
  margin-left: 15px;
  list-style-type: decimal;
}

.iframe-cont
{
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 56.25%;
}
.iframe-cont iframe, .yandex_maps iframe
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  z-index: 0;
}
.yandex_maps
{
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 100%;
}
.topnav
{
  z-index: 10;
}