/*
CSS to add styling for home page.
Programmers: Daniel Callegari, Dongboum Shin, Jacob Huebner
Date created: 4/8/2019
Date modified: 4/9/2019
File Name: home.css
*/

/*
Material design scale
https://material.io/design/typography/the-type-system.html#type-scale
*/

#event_signup{
  text-align: center;
}

.nopadding{
  padding: 0;
}

#meet_the_team{
  text-align: center;
}

/* BEGIN SLIDESHOW */

.slideshow{
  position: relative;
  width: 100%;
  margin: 0 auto;
  z-index: 0;
}

/* slideshow images */

.slideshow img{
  width: 100%;
  z-index: 0;
}

.slideshow ul li{
  line-height: 0;
  height: 100%;
}

.image-is-visible{
  /*display: list-item; */
  display: contents;
}

.image{
  display: none;
}

/* slideshow buttons */
.slideshow .button{
  width: 4rem;
  border: none;
  background: white;
  opacity: .6;
}

#slideshow-left, #slideshow-left2{
  position: absolute;
  margin: -19px 0 0 0;
  top: 50%;
  left: 0%;
  z-index: 0;
}

#slideshow-right, #slideshow-right2{
  position: absolute;
  margin: -19px 0 0 0;
  top: 50%;
  right: 0%;
  z-index: 0;
}

/* slideshow dots */
.dot{
  display: inline-block;
  margin: 0 8px;
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  background-color: grey;
  border-radius: 50%;
  vertical-align: middle;
}

.dot-is-selected{
  display: inline-block;
  margin: 0 8px;
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  background-color: #0745ff;
  border-radius: 50%;
  vertical-align: middle;
}

#slideshow-dots{
  margin: .5rem;
  clear: both;
  display: block;
  text-align: center;

}

/* END SLIDESHOw */

/* BEGIN IMAGE GRID */

.grid-row{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.grid-col{
  padding: 16px;
  flex-basis: 100%;
  -ms-flex: auto;
  position: relative;
  text-align: center;
}

.grid-col img{
  width: 100%;
  position: relative;
  /* set this to fix sizing issues*/
  max-width: 232px;
  /* Round portraits */
  border-radius: 50%;
}

.grid-container{
  margin: 0 auto;
}

/* 600px Break Point 1: Small or larger  */
@media screen and (min-width: 37.5em) {  
  .grid-col{
    flex-basis: 50%;
  }

}

/* 960px Break Point 3: large */
@media screen and (min-width: 60em) {
  .grid-col{
    flex-basis: 33%;
  }
}

/* 1600px Break Point 3: large */
@media screen and (min-width: 100em) {

}

/*  1920px Break Point 4: extra-large  */
@media screen and (min-width: 120em) {

}

/* END IMAGE GRID */
