/*
CSS to add styling for entire site.
Programmers: Daniel Callegari, Dongboum Shin, Jacob Huebner
Date created: 4/5/2019
Date modified: 4/5/2019
File Name: screens.css
*/

/*
Major second  Scale:
https://www.modularscale.com/?1.125&em&1.618
*/

html {
  box-sizing: border-box; /* Note: Using border-box instead of content-box */
}

*, *:before, *:after{
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', 'Open Sans', 'Lato', 'Oswald', sans-serif;
  font-size: 1.125em; /* 18px = 16px * 1.125em - Base font size */
  line-height: 1.334em; /* 24px = 18px * 1.334em - Base line height */
  text-rendering: optimizeLegibility;

}

.wrapper {
  max-width: 60em; /* 2 */
  padding-right: 1em; /* 3 */
  padding-left:  1em; /* 3 */
}

/* ========================  1. fonts ======================== */

h1 {
  font-size: ; /* px = px * em */
  line-height: ; /* px = px * em */
} 

h2 {
  font-size: ; /* px = px * em */
  line-height: ;  /* px = px * em */
}

h3 {
  font-size: ; /* px = px * em */
  line-height: ; /* px = px * em */
}

h4 {
  font-size: ; /* px = px * em */
  line-height: ; /* px = px * em */
}

p {
  font-size: 1em; /* px = px * em */
  line-height: 1.334em; /* px = px * em */
}

/* ========================  2. Responsive Media ======================== */
img, audio, video {
  display: block;
  max-width: 100%;
}

img {
  margin:0 auto;
  left:0;       
  right:0;       
}

/* ========================  3. Navigation ======================== */


/* ========================  4. Main ======================== */
section{
  margin: 1em 0;
  padding: 1em;
}

/* ========================  5. media queries ======================== */

/* Break Point 1: Extra Small Devices, Phones */
@media screen and (min-width: 400px) { 

  /* ======= fonts ======= */
  h1 {
    font-size: ;
    line-height: ;
  } 

  h2 {
    font-size: ;
    line-height: ; 
  }

  h3 {
    font-size: ;
    line-height: ;
  }

  p {
    font-size: ;
    line-height: ;
  }

  h4 {
    font-size: ;
    line-height: ;
  }

  /* ======= main ======= */

}

/* Break Point 2: Small Devices, Tablets, PCs */
@media screen and (min-width: 600px) {

  /* ======= fonts ======= */
  h1 {
    font-size: ;
    line-height: ;
  } 

  h2 {
    font-size: ;
    line-height: ; 
  }

  h3 {
    font-size: ;
    line-height: ;
  }

  p {
    font-size: ;
    line-height: ;
  }

  h4 {
    font-size: ;
    line-height: ;
  }

  /* ======= main ======= */

}

/* Break Point 3: Desktop Computers, Large screens */
@media screen and (min-width: 960px) {

  /* ======= fonts ======= */
  h1 {
    font-size: ;
    line-height: ;
  } 

  h2 {
    font-size: ;
    line-height: ; 
  }

  h3 {
    font-size: ;
    line-height: ;
  }

  p {
    font-size: ;
    line-height: ;
  }

  h4 {
    font-size: ;
    line-height: ;
  }

  /* ======= main ======= */

}